p {
  color: red;
}

.phide {
  display: none;
}

.col-sm-3 {
  border-style: solid;
  margin-left:1%;
  border-radius: 15%;
  width: 20%;
}

.test p {
  color: blue;
}


/*trying to figure out correct selectores
